---
import AttributesCategory from "./AttributesCategory.astro"
import DescriptionProduct from "./DescriptionProduct.astro";
import ImageProduct from "./ImageProduct.astro"
import ValuesProduct from "./ValuesProduct.astro"

const product = {
    sku : "012311",
    title : "Ampolleta h4 pt43 12 volt",
    description : "Ampolleta modelo h4, 12 volt, pt43 55 watts",
    price : 4900,
    discount : 0, 
    codebar: "012311",
    url : "",
    Attributes_product : [
        {sku : "012311", id_attribute : 1 , value : "12 volt", Attribute : {id : 1, name : "Voltaje"}},
        {sku : "012311", id_attribute : 2 , value : 55, Attribute : {id : 2, name : "Watts"}},
    ],
    subcategory  : 1,
    Subcategory : {
        id : 1, 
        name : "Halogena",
        category : 1,
        Category : {id : 1, name : "Ampolletas"}
    }
};
---

<h1 class="text-center font-bold w-fit mx-auto md:px-2 xs:px-1 rounded-xs md:text-xl xs:text-lg text-green-200 bg-black border-b-2 border-green-500">{product.title.toUpperCase()}</h1>
<div class="grid xs:grid-cols-1 md:grid-cols-2 mb-20 mt-3 xs:gap-1.5 md:gap-1 rounded-xs">
    <ImageProduct/>
    <DescriptionProduct description={product.description}/>
    <AttributesCategory subcategory={product.Subcategory} attributes={product.Attributes_product}/>
    <ValuesProduct price={product.price} discount={product.discount}/>
</div>
